# Arquivos de ambiente
.env

# Arquivos de logs e dados locais
airflow/logs/
airflow/plugins/
data/

# Artefatos Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
env/

# Metadados de IDE
.idea/
.vscode/